@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&family=Monoton&family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&family=Monoton&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  /* background-color: #c3aaca; */
  color: white;
  font-family: "PT Sans", sans-serif;
  display: block;
  text-decoration: none;
  padding: 12px;
  text-transform: uppercase;
}

button {
  background-color: #c3aaca;
  display: block;
  padding: 10px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}
button.logout {
  background-color: #013366;
  color: white;
  border: none;
} 
.App {
  text-align: center;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid black;
  height: 80px;
  color: white;
  background-color: #013366;
}
header h1 {
  font-family: "Monoton", cursive;
}

.main-container {
  background-image: url("./assets/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: calc(100vh - 80px);
  overflow: scroll;
}

.login-form {
  font-family: "PT Sans", sans-serif;
  background-color: #521d5cd1;
  padding: 5% 2%;
  color: white;
  border-radius: 10%;
  margin: 5% 30%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 1px 5px rgba(0, 0, 0, 0.2),
    0 0 0 12px rgba(255, 255, 255, 0.4);
  text-align: left;
}
.login-form h3 {
  text-align: center;
  padding-bottom: 5%;
  font-family: "PT Sans", sans-serif;
  font-size: 2em;
}
.login-form a,
.login-form button {
  text-align: center;
  display: block;
  margin: 2% auto;
  /* margin-bottom: 2%; */
  width: 40%;
}

input, select{
  border: 5px solid white;
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
    0 0 16px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  padding: 15px;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 0 10px 0;
  width: 100%;
}

label {
  text-transform: uppercase;
  margin-bottom: 10px;
}

img {
  width: 200px;
}
.dance-container {
  background-color: #521d5cd1;
  color: white;
  padding: 5% 2%;
  margin: 5% auto;
  overflow: scroll;
  width: 60%;
  font-family: "PT Sans", sans-serif;
}
.dance-container h3 {
  font-family: "Monoton", cursive;
  letter-spacing: 4px;
  font-size: 24px;
  padding-bottom: 3%;
}
button.all-dances {
  text-transform: lowercase;
  font-size: 14px;
  padding: 5px;
  text-align: center;
  margin: 1% auto;
  width: 20%;
  background-color: #9c889c;
}
a.register{
  background-color: #9c889c;
}
.dance-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* border: 1px solid #9c889c; */
  padding-top: 6%;
  padding-bottom: 6%;
}
.border-dance{
  border: 1px solid #9c889c;
  margin-bottom: 5%;
}
.dance-info-container h5 {
  font-size: 20px;
}
.dance-info-container p {
  width: 60%;
  font-size: 18px;
  line-height: 1.6;
  padding-top: 2%;
  padding-bottom: 2%;
  margin: 0 auto;
}
.dance-info-container img {
  width: 250px;
  object-fit: contain;
  border: 1px solid #9c889c;
}


@media (max-width: 550px){
header{
  flex-direction: column;
  height: 100%;
}


  .login-form {
    margin: 5% 5%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2),
      0 0 0 2px rgba(255, 255, 255, 0.4);
    text-align: left;
  }
  .login-form h3{
    font-size: 1.2em;
  }
  input, select{
    border: 1px solid white;
    padding: 8px;
   
  }
  a.register{
    padding: 8px;
    font-size: 14px;
  }
  .login-form button{
    padding: 5px;
    font-size: 14px;
  }
  .dance-container{
    width: 100%;
  }
  .dance-info-container p{
    width: 80%;
  }

}